misc.xml
modules.xml
SuperMarket_Without_oop2.iml
ProjectSettings.json
slnx.sqlite
applicationhost.config
.suo
Browse.vc.db
Main.ipch
storagemanagement.ipch
VSWorkspacestate.json
supermarket_without_oop.exe
clion-log.txt
cppproperties.json
convertionssystem.o
main.o
mainmenumanagement.o
productmanagement.o
storagemanagement.o
supermarket_without_oop.cbp
supermarket_without_oop.depend
supermarket_without_oop.layout
workspace.xml
start.bat
